mat-card {
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  mat-card-title {
    display: flex;
    align-items: center;

    fa-icon {
      width: 2rem;
      text-align: center;
      margin-right: 5px;
      color: #5276b8;
    }

    h3 {
      margin: 0 10px;
      width: 8rem;
    }

    p {
      margin: 0;
      color: black;

      span {
        color: #555;
        font-size: small
      }

      ;
    }

    color: black;
  }
}
