footer {
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon {
  margin-left: 5px;
  color: #00897b;
}

.position {
  z-index: 10000;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
