.metric-card {
  min-width: 250px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  height: 175px;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 132px;
}

mat-card-title{
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}

h4{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #444;
}

.box {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 132px;
}

.main-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h3, p {
    margin: 0;
  }
  p{
    color: #333;
  }
}

