table {
  width: 100%;
}

.add-button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  text-align: center;
  justify-content: start;
}

.icon-box {
  width: 30px;
  text-align: center;
}
