.inserted {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #00897b;
  /* background-color: #5276b8; */
}
