body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url("../../../assets/Monte_Velino.jpg");
  background-size: cover;
  height: 100vh;
}

.main-content{
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  width: 85px;
}

.hero {
  text-align: center;
  padding: 2em;
  color: white;
  p {
    font-size: 1.3em;
  }
}
