.map {
  border-radius: 10px;
}

.image{
  img {
    border-radius: 10px;
    width: 100%;
    min-height:100%;
    object-fit: cover;
  };
}

.chart {
  border-radius: 10px;
}

.main {
  min-height: 100vh;
}