.map {
  border-radius: 10px;
}

.image{
  img {
    border-radius: 10px;
    width: 100%;
    min-height:100%;
    max-height: 360px;
    object-fit: cover;
  };
}

.main {
  min-height: 100vh;
}

.inserted {
  display: flex;
  margin: 0;
  justify-content: space-around;
  min-height: 70vh;
}
