.main {
  min-height: 100vh;
}

.inserted {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: small;
  }
}
